#envelope {
  position: relative;
  width: 280px;
  height: 180px;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  margin-left: auto;
  margin-right: auto;
  top: 27vh;
  background-color: #A0A9B3;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
}

.sello {
  width: 60px;
  position: relative;
  top: -30px;
  left: -30px;
}

.front {
  position: absolute;
  width: 0;
  height: 0;
  z-index: 3;
}

.flap {
  border-left: 140px solid transparent;
  border-right: 140px solid transparent;
  border-bottom: 82px solid transparent;
  /* a little smaller */
  border-top: 98px solid #ccd6e0;
  /* a little larger */
  transform-origin: top;
  pointer-events: none;
}

.pocket {
  border-left: 140px solid #b5c8d7;
  border-right: 140px solid #b5c8d7;
  border-bottom: 90px solid #b5c8d7;
  border-top: 90px solid transparent;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
}

.letter {
  position: relative;
  background-color: #fff;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  height: 90%;
  top: 5%;
  border-radius: 6px;
  box-shadow: 0 2px 26px rgba(0, 0, 0, 0.12);
}

.letter:after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
 
}

.words {
  position: absolute;
  left: 5%;
  width: 90%;
  height: 14%;
  background-color: #EEEFF0;
}

.words.line1 {
  padding-top: 8px;
  padding-left: 1px;
  top: 12%;
  height: 80%;
  font-size: 26px;
  text-align: center;
}

.words.line2 {
  top: 30%;
}

.words.line3 {
  top: 50%;
}

.words.line4 {
  top: 70%;
}

.open .flap {
  transform: rotateX(180deg);
  transition: transform 0.5s ease, z-index 0.6s;
  z-index: 1;
}

.open .letter {
  transform: translateY(-60px);
  transition: transform 0.6s 0.6s ease, z-index 0.6s;
  z-index: 2;
}

@-webkit-keyframes slideUp {
  0% {
    top: 0;
  }

  100% {
    top: -600px;
  }
}

@keyframes slideUp {
  0% {
    top: 0;
  }

  100% {
    top: -600px;
  }
}

@-webkit-keyframes sideSway {
  0% {
    margin-left: 0px;
  }

  80% {
    margin-left: 50px;
  }
}

@keyframes sideSway {
  0% {
    margin-left: 0px;
  }

  100% {
    margin-left: 50px;
  }
}

body {
  background-color: #F5F2EB;
}

.envlope-wrapper {
  height: 430px;
}

.reset {
  text-align: center;
  position: relative;
  z-index: 3;
}

.reset button {
  font-weight: 800;
  font-style: normal;
  transition: all 0.1s linear;
  -webkit-appearance: none;
  border: solid 2px #b5c8d7;
  border-radius: 4px;
  color: #b5625a;
  display: inline-block;
  font-size: 14px;
  text-transform: uppercase;
  margin: 5px;
  padding: 10px;
  line-height: 1em;
  text-decoration: none;
  min-width: 120px;
  cursor: pointer;
}

.reset button:hover {
  background-color: #b5c8d7;
  color: #b5625a;
}

.gold-star-type-1 {
  color: #E4CA92;
  font-size: 24px;
  position: absolute;
  opacity: 0.8;
}

.gold-star-type-2 {
  color: #E4CA92;
  font-size: 16px;
  position: absolute;
  opacity: 0.5;
}

.gold-star-type-3 {
  color: #E4CA92;
  font-size: 8px;
  position: absolute;
  opacity: 0.5;
}

.balon {
  position: absolute;
  z-index: 10;
  width: 200px;
  right: -4px;
}