$color-env          :#86486d;//#0077B2;
$color-env2         : darken($color-env, 3%);
$color-flap         : darken($color-env, 20%);
$color-bg           : lighten($color-env, 48%);
$color-heart        : #D00000; 

$env-border-radius  : 6px;
$env-width          : 280px;
$env-height         : 180px;
$heart-width        : 50px;

#envelope {
    position: relative;
    width: $env-width;
    height: $env-height;
    border-bottom-left-radius: $env-border-radius;
    border-bottom-right-radius: $env-border-radius;
    margin-left: auto;
    margin-right: auto;
    top: 20vh;
    background-color: $color-flap;
    box-shadow: 0 4px 20px rgba(0,0,0,.2);
}
.front { 
    position: absolute;
    width: 0;
    height: 0;
    z-index: 3;
}
.flap {
    border-left: calc($env-width / 2) solid transparent;
    border-right: calc($env-width / 2) solid transparent;
    border-bottom: calc($env-height / 2) - 8 solid transparent; /* a little smaller */
    border-top: calc($env-height / 2) + 8 solid $color-flap; /* a little larger */
    transform-origin: top;
    pointer-events: none;
}
.pocket {
    border-left: calc($env-width / 2) solid $color-env;
    border-right: calc($env-width / 2) solid $color-env;
    border-bottom: calc($env-height / 2) solid $color-env2;
    border-top: calc($env-height / 2) solid transparent;
    border-bottom-left-radius: $env-border-radius;
    border-bottom-right-radius: $env-border-radius;
}
.letter {
    position: relative;
    background-color: #fff;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    height: 90%;
    top: 5%;
    border-radius: $env-border-radius;
    box-shadow: 0 2px 26px rgba(0,0,0,.12);
}
.letter:after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-image: 
        linear-gradient(180deg, 
        rgba(255,255,255,0.00) 25%, 
        rgba(215,227,239,0.70) 55%, 
        rgba(215,227,239,1.00) 100%);
}
.words {
    position: absolute;
    left: 5%;
    width: 90%;
    height: 14%;
    background-color: #EEEFF0;
}
.words.line1 {
    padding-top: 8px;
    padding-left: 1px;
    top: 12%;
    height: 80%;
    font-size: 26px;
    text-align: center;
}
.words.line2 {
    top: 30%;
}
.words.line3 {
    top: 50%;
}
.words.line4 {
    top: 70%;
}
.open .flap {
    transform: rotateX(180deg);
    transition: transform 0.5s ease, z-index .6s;
    z-index: 1;
}
.open .letter {
    transform: translateY(-(calc($env-height / 3)));
    transition: transform .6s 0.6s ease, z-index .6s;
    z-index: 2;
}


@-webkit-keyframes slideUp { 
    0% { 
        top: 0;
    }
    100% { 
        top: -600px;
    }
}
@keyframes slideUp {     
    0% { 
        top: 0;
    }
    100% { 
        top: -600px;
    }
}
@-webkit-keyframes sideSway { 
    0% { 
        margin-left: 0px;
    }
    80% { 
        margin-left: 50px;
    }
}
@keyframes sideSway {
    0% {
        margin-left: 0px;
    }
    100% {
        margin-left: 50px;
    }
}

body {
    background-color: $color-bg;
}
.envlope-wrapper {
    height: ($env-height + 250px);
}
.reset {
    text-align: center;
}
.reset button {
    font-weight: 800;
    font-style: normal;
    transition: all .1s linear;
    -webkit-appearance: none;
    background-color: transparent;
    border: solid 2px $color-env;
    border-radius: 4px;
    color: $color-env;
    display: inline-block;
    font-size: 14px;
    text-transform: uppercase;
    margin: 5px;
    padding: 10px;
    line-height: 1em;
    text-decoration: none;
    min-width: 120px;
    cursor: pointer;
}
.reset button:hover {
    background-color: $color-env;
    color: #fff;
}