.timeline {
  position: relative;
  max-width: 400px;
  margin: 100px auto;
}

.icon-circle {
  color: #3b7ea4;
}

.timeline::after {
  content: "";
  position: absolute;
  width: 6px;
  height: 100%;
  background: #9d9bbb36;
  top: 0px;
  left: 50%;
  margin-left: -3px;
  z-index: 1;
  animation: moveline 3s linear forwards;
}

@keyframes moveline {
  0% {
    height: 0;
  }
  100% {
    height: 100%;
  }
}

.time-container {
  padding: 10px 50px;
  position: relative;
  width: 50%;
  /* background: rgb(0, 0, 0, 0.3); */
}

.time-title{
  font-size: 18px;
  /* color: #3b7ea4; */
  color: #076398;
  font-family: "Prata", serif;
  font-weight: 600;
}

.time-time {
  font-size: 15px;
  font-family: "Prata", serif;
  font-weight: 400;
  color: #524c81;
}


.time-text-box {
  padding: 10px 20px;
  background: #fff6;
  position: relative;
  border-radius: 8px;
  font-size: 16px;
}
.left-time-container {
  left: -25%;
}

.right-time-container {
  left: 50%;
}

.time-container img {
  position: absolute;
  width: 40px;
  border-radius: 50%;
  right: -1px;
  top: 32px;
  z-index: 10;
}

.right-time-container img {
  left: -20px;
}

.time-text-box h2 {
  font-weight: 600;
}
.time-text-box small {
  display: inline-block;
  margin-bottom: 15px;
}

@media screen and (max-width: 600px) {
  .timeline {
    margin: 5px auto;
  }

  .timeline::after {
    left: 31px;
  }

  .time-container {
    width: 80%;
    padding-left: 80px;
    padding-right: 25px;
  }

  .time-text-box {
    font-size: 13px;
  }

  .time-text-box small {
    margin-bottom: 10px;
  }

  .right-time-container {
    left: 0;
  }

  .left-time-container img,
  .right-time-container img {
    left: 10px;
  }

  .left-time-container {
    left: 0px;
  }
}

.p-time {
  display: flex;
  justify-content: center; /* align horizontal */
}

.purple-title {
  width: 100%;
  display: flex;
  justify-content: center;
  color: #524c81;
}